@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "customFont";
    src: url('../public/fonts/Outfit-Medium.ttf') format("truetype");
    font-weight: 900;
    font-style: normal;
}
